{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
<ul>

{{ $Pages := .Pages }}

{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}


{{- range $Pages }}
	<li>
		{{- if .Param "datesinlist" }}<time datetime="{{ .Lastmod.UTC.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.UTC.Format "2006-01-02" }}</time> &ndash; {{ end -}}
		<a href="{{ .RelPermalink }}">{{ .Title }}</a> 
		{{- if .Param "authorsinlist" }}
		{{- range .Param "authors" }} by {{ . }}{{ end -}}
		{{ end -}}
		</li>
{{- end }}
</ul>
{{- end }}
